/* SEÇÃO 1 (titulo) */

.title {
    padding: 60px 0;
}

.title__container {
    max-width: 1160px;
    margin: 0 auto;
    background: url(../../img/dec/top-right.svg) no-repeat top right;
}

.title__description {
    margin-bottom: 4px;
}

/* SEÇÃO 2 (seguros) */

.seguros__container {
    box-sizing: border-box;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    padding: 0 20px 60px;
}

.seguros__item {
    display: grid;
    grid-template-columns: 1fr auto;
    background: var(--cor-12);
    padding: 32px 32px 32px 60px;
    border-radius: 4px;
}

.seguros__item span {
    grid-column: 2;
    text-align: right;
    display: block;
}

.seguros__item h3 {
    margin-bottom: 20px;
}

.seguros__list {
    margin-bottom: 32px;
}

.seguros__list li {
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.seguros__list li::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 9px;
    background-image: url(../../img/icones/lista.svg);
    position: absolute;
    left: -21px;
}

.seguros__item a {
    grid-column: 1/-1;
}

.seguros__first-button {
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    max-width: max-content;
    background: var(--cor-10);
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    border-radius: 4px;
}

.seguros__first-button:hover {
    background: var(--cor-9);
}

.seguros__second-button {
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    max-width: max-content;
    background: linear-gradient(#ffbf00, #f2a50c);
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    border-radius: 4px;
}

.seguros__second-button:hover {
    background: linear-gradient(#ffb60d, #e59317)
}

/* SEÇÃO 3 (beneficios) */

.benefits__container {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
}

.benefits__title {
    margin-bottom: 60px;
}

.benefits__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 40px 80px;
}

.benefits__list-subtitle {
    margin: 8px 0;
}

/* SEÇÃO 4 (perguntas) */

.perguntas__container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 20px;
}

.perguntas__title {
    margin-bottom: 60px;
}

.perguntas dl > div:nth-child(odd) {
    background: var(--cor-1);
}

.perguntas dl > div {
    padding: 20px;
    border-radius: 4px;
}

.perguntas dd {
    padding: 16px 0 0 20px;
    max-width: 720px;
}

.perguntas dt {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.perguntas__pergunta::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 8px;
    background: var(--cor-p1);
}

.perguntas__pergunta::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 6px;
    background-image: url(../../img/icones/seta-abrir.svg);
    transition: 0.3s;
}

.perguntas__pergunta:hover::after {
    transform: rotate(180deg);
}

@media (max-width: 800px) {
    .title {
        padding: 40px 20px;
    }
    
    .title__title-1 {
        font-size: 1rem;
        text-transform: lowercase;
        font-weight: 400;
    }

    .title__title-2,
    .perguntas__title,
    .benefits__title {
        font-size: 2rem;
    }

    .seguros__container {
        grid-template-columns: 1fr;
    }

    .seguros__title,
    .seguros__title-2,
    .seguros__price {
        font-size: 1.5rem;
    }

    .benefits__container,
    .perguntas__container {
        padding: 60px 20px;
    }
}

@media (max-width: 600px) {
    .seguros__first-button,
    .seguros__second-button {
        padding: 12px 16px;
        font-size: 1rem;
    }
}