.footer {
    padding: 60px 20px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;   
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;
    padding: 0 20px;
    text-decoration: none;
}

.footer__logo {
    flex-grow: 1.7;
}

.footer__contact, .footer__social {
    flex-grow: 3;
}

.footer__info {
    flex-grow: 2.5;
}

.footer li {
    margin-bottom: .90em;
}

.footer__contact-list li:nth-child(even):after {
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background: var(--cor-11);
    margin-top: 16px;
}

.footer__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px
}

.footer p { 
    max-width: 1200px;
    margin: 80px auto 10px;
    padding: ;
}

@media (max-width: 1200px) {
    .footer h3 {
        font-size: 1.125rem;
    }
}

@media (max-width: 800px) {

    .footer__logo {
        display: none;
    }
}

@media (max-width: 600px) {
    .footer__container {
        flex-direction: column;
        padding-left: 0;
    }

    .footer p {
        margin-top: 40px;
    }
}