.header {
    padding: 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 1160px;
    margin: 10px auto;
}

.header__list {
    display: flex;
    gap: 40px;
    text-decoration: none;
}

.header__list li::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    margin-top: 4px;
    transition: 1s;
}
.header__list li:hover::after{
    width: 100%;
}

