/* SEÇÃO 1 (titulo) */

.title {
    padding: 60px 20px;
}

.title__container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    background: url(../../img/dec/top-right.svg) no-repeat top right;
}

.title__title-1 {
    margin-bottom: 4px;
}

body {
    background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0px);
}

.orcamento__container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding: 0 20px 120px 20px;
    box-sizing: border-box;
}

.orcamento__title,
.orcamento__title-2 {
    display: flex;
    align-items: center;
    position: relative;
    text-transform: uppercase;
}

.orcamento__content h2,
.orcamento__title-2:nth-of-type(n + 2) {
    margin-top: 20px;
}

.orcamento__title-2,
.orcamento__data-2,
.orcamento__button {
    grid-column: span 2;
}

.orcamento h2::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 8px;
    background-color: var(--cor-p1);
    position: absolute;
    left: -12px;
}

.orcamento__products,
.orcamento__data {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento__products {
    background: var(--cor-12) url(../../img/dec/bottom-left.svg) no-repeat bottom 20px left 20px;
    border-radius: 5px 0 0 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-content: start;
}

.orcamento__products > * {
    grid-column: 1/-1;
}

.orcamento__products > label {
    grid-column: initial;
}

.orcamento__products label {
    font: 400 1rem/1.5 "Poppins", sans-serif;
    color: var(--cor-4);
    background-color: var(--cor-10);
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border: 1px solid var(--cor-10);
}

.orcamento__products label::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid var(--cor-6);
    border-radius: 50%;
    margin-right: 8px;
}


.orcamento__products input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.orcamento__products input:checked + label {
    background: var(--cor-0);
    color: var(--cor-11);
}
.orcamento__products label:hover {
    background-color: var(--cor-9);
    border-color: var(--cor-9);
}

.orcamento__products input:checked + label::before {
  border-color: var(--cor-7);
  box-shadow: inset 0 0 0 3px var(--cor-0), inset 0 0 0 6px var(--cor-7);
}

.orcamento__products label span {
  display: none;
}

.orcamento__products input:checked + label span {
    display: inline-block;
  }

.orcamento__products input:checked + label + .orcamento__details {
    display: grid;
}

.orcamento__content {
    display: none;
}

#bikcraft:checked ~ #orcamento__bikcraft,
#seguro:checked ~ #orcamento__seguro {
  display: grid;
  gap: 20px;
}

.orcamento__details {
    background-color: var(--cor-0);
    padding: 20px;
    border-radius: 4px;
    grid-template-columns: 1fr 1fr;
    display: none;
    color: var(--cor-8);
}


.orcamento__details li {
    display: flex;
    align-items: center;
    margin: 0 0 8px 0;
    font: 400 0.75rem/1.35 "Poppins", sans-serif;
}

.orcamento__details li img { 
    width: 16px;
    margin: 0 8px 0 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

.orcamento__data {
    background: var(--cor-0) url(../../img/dec/bottom-right.svg) no-repeat bottom 20px right 20px;
    border-radius: 0 5px 5px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-content: start;
    font: 400 1rem/1.5 "Poppins", sans-serif;
}

.orcamento__data input[type="text"],
.orcamento__data input[type="email"] {
    font: 400 1rem/1.5 "Roboto", sans-serif;
    background: var(--cor-1);
    border: 1px solid var(--cor-2);
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.orcamento__button {
    display: inline-block;
    max-width: max-content;
    padding: 16px 32px;
    background: linear-gradient(#ffbf00, #f2a50c);
    color: var(--cor-p5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font: 600 1.125rem/1.35 "Poppins", sans-serif;
    text-transform: uppercase;
}

.orcamento__button:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 1200px) {
    .title__title-1 {
        font-size: 1.125rem;
    }

    .title__title-2 {
        font-size: 3rem;
    }

    .orcamento__products, 
    .orcamento__data {
        padding: 32px;
    }
}

@media (max-width: 800px) {
    .title { 
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .title__title-1 {
        font-size: 1rem;
    }

    .title__title-2 {
        font-size: 2rem;
    }

    .orcamento__container {
        grid-template-columns: 1fr;
    }

    .orcamento__products {
        border-radius: 5px 5px 0 0;
        background: var(--cor-12);
    }

    .orcamento__data {
        border-radius: 0 0 5px 5px;
        grid-template-columns: 1fr;
    }

    .orcamento__title-2,
    .orcamento__data-2,
    .orcamento__button {
        grid-column:   1;
    }

    .orcamento__button {
        padding: 12px 16px;
        font-size: 1rem;
    }
}


@media (max-width: 400px) {
    .orcamento__products {
        grid-template-columns: 1fr;
    }
}