body {
  background-color: pink;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#value {
  background-color: #fff;
  color: rgb(221, 120, 136);
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: none;
  width: 150px;
  height: 56px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(221, 120, 136);
}
